*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body,
button,
input,
select,
textarea {
  line-height: 1.5;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}
/* commit */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
